html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

.navbar {
	margin-bottom: 2px;
}

div.navbar-right.nav button{
	margin: 7px;
}

div#map {
	width: 100%;
	height: calc(100% - 60px);
}

div#slider {
	margin: 0 auto;
	width: calc(100% - 130px);
	left: 65px;
	position: absolute;
	bottom: 30px;
	z-index: 10;
}

div.filter-form {
	background: white;
	width: 420px;
	position: absolute;
	z-index: 10;
	top: 100px;
	left: calc(50% - 210px);
	background: rgba(0, 0, 0, 0.75);
	color: white;
	padding: 20px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

div.filter-form label {
	display: block;
	margin-top: 10px;
	margin-left: 5px;
}

div.filter-form input {
	margin-right: 10px;
	color: black;
}

select#vehiclesInvolved {
	width: 50px;
	color: black;
}

div.filter-form button.filter {
	margin: 10px;
}

div.page-loading-mask {
	/* Indicate the page is loading something with ajax*/
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.75);
	position: absolute;
	z-index: 99;
}

div.notification-fadeout {
	position: absolute;
	top: 50%;
	width: 100%;
	background: rgba(0, 0, 0, 0);
	font-size: 20px;
	font-weight: 700;
	text-align: center;
	z-index: 2;
}

div#chart-canvas-wrapper {
	position: absolute;
	width: 900px;
	height: 700px;
	top: 150px;
	left: calc(50% - 450px);
	padding: 40px;
	background: rgba(255, 255, 255, 0.95);
	z-index: -1;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

div#chart-canvas-wrapper.displayed {
	z-index: 9;
}

/* Thanks to http://codepen.io/stephenrichard/pen/bNmavK for the page loading effect*/
.square {
  width: 8px;
  height: 30px;
  background: #2ecc71;
  border-radius: 10px;
  display: block;
  /*margin:10px;*/
  -webkit-animation: turn 2.5s ease infinite;
  animation: turn 2.5s ease infinite;
}
.top {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.bottom {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.left {
  position: absolute;
  left: 50%;
  top: 50%;
}
.right {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
@-webkit-keyframes turn {
  0% {
    transform: translateX(0) translateY(0) rotate(0);
  }
  50% {
    transform: translateX(400%) translateY(100%) rotate(90deg);
  }
  100% {
    transform: translateX(0) translateY(0) rotate(0);
  }
}
@keyframes turn {
  0% {
    transform: translateX(0) translateY(0) rotate(0);
  }
  70% {
    transform: translateX(400%) translateY(100%) rotate(90deg);
  }
  100% {
    transform: translateX(0) translateY(0) rotate(0);
  }
}
